Equal Weight Stragy

In [3]:
import sys
!{sys.executable} -m pip install yfinance --user

Requirement already satisfied: yfinance in /Users/nigg/Library/Python/3.9/lib/python/site-packages (0.2.66)
Requirement already satisfied: protobuf>=3.19.0 in /Users/nigg/Library/Python/3.9/lib/python/site-packages (from yfinance) (6.33.0)
Requirement already satisfied: numpy>=1.16.5 in /Users/nigg/Library/Python/3.9/lib/python/site-packages (from yfinance) (2.0.2)
Requirement already satisfied: pytz>=2022.5 in /Users/nigg/Library/Python/3.9/lib/python/site-packages (from yfinance) (2025.2)
Requirement already satisfied: pandas>=1.3.0 in /Users/nigg/Library/Python/3.9/lib/python/site-packages (from yfinance) (2.3.1)
Requirement already satisfied: peewee>=3.16.2 in /Users/nigg/Library/Python/3.9/lib/python/site-packages (from yfinance) (3.18.3)
Requirement already satisfied: requests>=2.31 in /Users/nigg/Library/Python/3.9/lib/python/site-packages (from yfinance) (2.32.5)
Requirement already satisfied: multitasking>=0.0.7 in /Users/nigg/Library/Python/3.9/lib/python/site-packages (from yfinance) (0.0.12)
Requirement already satisfied: curl_cffi>=0.7 in /Users/nigg/Library/Python/3.9/lib/python/site-packages (from yfinance) (0.13.0)
Requirement already satisfied: frozendict>=2.3.4 in /Users/nigg/Library/Python/3.9/lib/python/site-packages (from yfinance) (2.4.7)
Requirement already satisfied: beautifulsoup4>=4.11.1 in /Users/nigg/Library/Python/3.9/lib/python/site-packages (from yfinance) (4.14.3)
Requirement already satisfied: websockets>=13.0 in /Users/nigg/Library/Python/3.9/lib/python/site-packages (from yfinance) (15.0.1)
Requirement already satisfied: platformdirs>=2.0.0 in /Users/nigg/Library/Python/3.9/lib/python/site-packages (from yfinance) (4.3.8)
Requirement already satisfied: typing-extensions>=4.0.0 in /Users/nigg/Library/Python/3.9/lib/python/site-packages (from beautifulsoup4>=4.11.1->yfinance) (4.14.1)
Requirement already satisfied: soupsieve>=1.6.1 in /Users/nigg/Library/Python/3.9/lib/python/site-packages (from beautifulsoup4>=4.11.1->yfinance) (2.8)
Requirement already satisfied: certifi>=2024.2.2 in /Users/nigg/Library/Python/3.9/lib/python/site-packages (from curl_cffi>=0.7->yfinance) (2025.10.5)
Requirement already satisfied: cffi>=1.12.0 in /Users/nigg/Library/Python/3.9/lib/python/site-packages (from curl_cffi>=0.7->yfinance) (2.0.0)
Requirement already satisfied: pycparser in /Users/nigg/Library/Python/3.9/lib/python/site-packages (from cffi>=1.12.0->curl_cffi>=0.7->yfinance) (2.23)
Requirement already satisfied: tzdata>=2022.7 in /Users/nigg/Library/Python/3.9/lib/python/site-packages (from pandas>=1.3.0->yfinance) (2025.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/nigg/Library/Python/3.9/lib/python/site-packages (from pandas>=1.3.0->yfinance) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in /Library/Developer/CommandLineTools/Library/Frameworks/Python3.framework/Versions/3.9/lib/python3.9/site-packages (from python-dateutil>=2.8.2->pandas>=1.3.0->yfinance) (1.15.0)
Requirement already satisfied: idna<4,>=2.5 in /Users/nigg/Library/Python/3.9/lib/python/site-packages (from requests>=2.31->yfinance) (3.11)
Requirement already satisfied: urllib3<3,>=1.21.1 in /Users/nigg/Library/Python/3.9/lib/python/site-packages (from requests>=2.31->yfinance) (2.5.0)
Requirement already satisfied: charset_normalizer<4,>=2 in /Users/nigg/Library/Python/3.9/lib/python/site-packages (from requests>=2.31->yfinance) (3.4.4)
WARNING: You are using pip version 21.2.4; however, version 25.3 is available.
You should consider upgrading via the '/Library/Developer/CommandLineTools/usr/bin/python3 -m pip install --upgrade pip' command.

In [12]:
import pandas as pd 
import numpy as np 
import yfinance as yf 
import math

Load Stock List

In [13]:
tickers = pd.read_csv('top_50_indian_stocks.csv')
tickers.head()

         Ticker               Company Name
0   RELIANCE.NS        Reliance Industries
1        TCS.NS  Tata Consultancy Services
2   HDFCBANK.NS                  HDFC Bank
3       INFY.NS                    Infosys
4  ICICIBANK.NS                 ICICI Bank

In [ ]:
def fetch_market_cap(tickers_list):
    data = yf.download(tickers_list,period='1d',group_by='ticker',auto_adjust='False')
    stocks_data = []
    for ticker in tickers_list:
        lastest_price = data[ticker]['Close'].iloc[-1]
        market_cap = yf.Ticker(ticker).info.get("marketCap",'N/A')
        stocks_data.append({
            "Ticker" : ticker,
            "Market Cap" : market_cap,
            "Latest Price" : lastest_price
        })
    stocks_df = pd.DataFrame(stocks_data)
    return stocks_df 
        
tickers_list = tickers["Ticker"].values.tolist()
df = fetch_market_cap(tickers_list)
df.head()

[*********************100%***********************]  50 of 50 completed

         Ticker      Market Cap  Latest Price
0   RELIANCE.NS  21180452962304   1565.099976
1        TCS.NS  11874563260416   3282.000000
2   HDFCBANK.NS  15161462095872    985.500000
3       INFY.NS   6629485969408   1638.699951
4  ICICIBANK.NS   9682074730496   1354.099976

In [15]:
df

           Ticker      Market Cap  Latest Price
0     RELIANCE.NS  21180452962304   1565.099976
1          TCS.NS  11874563260416   3282.000000
2     HDFCBANK.NS  15161462095872    985.500000
3         INFY.NS   6629485969408   1638.699951
4    ICICIBANK.NS   9682074730496   1354.099976
5   HINDUNILVR.NS   5357174259712   2280.000000
6         SBIN.NS   9048774672384    980.299988
7   BAJFINANCE.NS   6266720092160   1008.299988
8   BHARTIARTL.NS  12777257172992   2097.699951
9          ITC.NS   5024660848640    401.049988
10   KOTAKBANK.NS   4294712229888   2159.500000
11    ADANIENT.NS   2894315913216   2239.000000
12          LT.NS   5603428663296   4073.500000
13     HCLTECH.NS   4449763328000   1642.400024
14  ASIANPAINT.NS   2684053094400   2799.899902
15    AXISBANK.NS   3820539871232   1230.599976
16   SUNPHARMA.NS   4186599587840   1744.900024
17       WIPRO.NS   2770173165568    264.450012
18  ULTRACEMCO.NS   3381369765888  11496.000000
19    HDFCLIFE.NS   1653290958848    766.450012
20        ONGC.NS   2930433064960    232.889999
21        NTPC.NS   3101963583488    319.899994
22   POWERGRID.NS   2450244239360    263.450012
23  TATAMOTORS.NS   1494474162176    352.649994
24  INDUSINDBK.NS    658085511168    844.700012
25  ADANIGREEN.NS   1682196791296   1020.900024
26       TITAN.NS   3486176509952   3930.100098
27    DIVISLAB.NS   1719838179328   6478.500000
28       TECHM.NS   1428300890112   1612.500000
29      MARUTI.NS   5160603484160  16414.000000
30   COALINDIA.NS   2376348205056    385.600006
31        BPCL.NS   1587676184576    365.950012
32    JSWSTEEL.NS   2636973867008   1079.599976
33     DRREDDY.NS   1064174551040   1278.199951
34  BAJAJFINSV.NS   3263222251520   2043.800049
35  ADANIPORTS.NS   3232662290432   1496.400024
36       CIPLA.NS   1225511534592   1517.099976
37   BRITANNIA.NS   1470424154112   6103.000000
38     HAVELLS.NS    888816467968   1416.900024
39    SHREECEM.NS    924623437824  25600.000000
40      GRASIM.NS   1908715814912   2812.500000
41   TATASTEEL.NS   2103875993600    168.690002
42  HEROMOTOCO.NS   1156671864832   5781.000000
43         M&M.NS   4324487069696   3603.600098
44   EICHERMOT.NS   1979617509376   7217.000000
45         IOC.NS   2296113528832    162.600006
46     SBICARD.NS    828131770368    870.299988
47  PIDILITIND.NS   1484132450304   1458.300049
48       DMART.NS   2485474820096   3819.500000
49     HDFCAMC.NS   1145081298944   2672.199951

In [17]:
df = df.sort_values(by = "Market Cap",ascending=False)
df

           Ticker      Market Cap  Latest Price
0     RELIANCE.NS  21180452962304   1565.099976
2     HDFCBANK.NS  15161462095872    985.500000
8   BHARTIARTL.NS  12777257172992   2097.699951
1          TCS.NS  11874563260416   3282.000000
4    ICICIBANK.NS   9682074730496   1354.099976
6         SBIN.NS   9048774672384    980.299988
3         INFY.NS   6629485969408   1638.699951
7   BAJFINANCE.NS   6266720092160   1008.299988
12          LT.NS   5603428663296   4073.500000
5   HINDUNILVR.NS   5357174259712   2280.000000
29      MARUTI.NS   5160603484160  16414.000000
9          ITC.NS   5024660848640    401.049988
13     HCLTECH.NS   4449763328000   1642.400024
43         M&M.NS   4324487069696   3603.600098
10   KOTAKBANK.NS   4294712229888   2159.500000
16   SUNPHARMA.NS   4186599587840   1744.900024
15    AXISBANK.NS   3820539871232   1230.599976
26       TITAN.NS   3486176509952   3930.100098
18  ULTRACEMCO.NS   3381369765888  11496.000000
34  BAJAJFINSV.NS   3263222251520   2043.800049
35  ADANIPORTS.NS   3232662290432   1496.400024
21        NTPC.NS   3101963583488    319.899994
20        ONGC.NS   2930433064960    232.889999
11    ADANIENT.NS   2894315913216   2239.000000
17       WIPRO.NS   2770173165568    264.450012
14  ASIANPAINT.NS   2684053094400   2799.899902
32    JSWSTEEL.NS   2636973867008   1079.599976
48       DMART.NS   2485474820096   3819.500000
22   POWERGRID.NS   2450244239360    263.450012
30   COALINDIA.NS   2376348205056    385.600006
45         IOC.NS   2296113528832    162.600006
41   TATASTEEL.NS   2103875993600    168.690002
44   EICHERMOT.NS   1979617509376   7217.000000
40      GRASIM.NS   1908715814912   2812.500000
27    DIVISLAB.NS   1719838179328   6478.500000
25  ADANIGREEN.NS   1682196791296   1020.900024
19    HDFCLIFE.NS   1653290958848    766.450012
31        BPCL.NS   1587676184576    365.950012
23  TATAMOTORS.NS   1494474162176    352.649994
47  PIDILITIND.NS   1484132450304   1458.300049
37   BRITANNIA.NS   1470424154112   6103.000000
28       TECHM.NS   1428300890112   1612.500000
36       CIPLA.NS   1225511534592   1517.099976
42  HEROMOTOCO.NS   1156671864832   5781.000000
49     HDFCAMC.NS   1145081298944   2672.199951
33     DRREDDY.NS   1064174551040   1278.199951
39    SHREECEM.NS    924623437824  25600.000000
38     HAVELLS.NS    888816467968   1416.900024
46     SBICARD.NS    828131770368    870.299988
24  INDUSINDBK.NS    658085511168    844.700012

# taking top 10

In [18]:
df = df.head(10)
df = df.reset_index()
df

   index         Ticker      Market Cap  Latest Price
0      0    RELIANCE.NS  21180452962304   1565.099976
1      2    HDFCBANK.NS  15161462095872    985.500000
2      8  BHARTIARTL.NS  12777257172992   2097.699951
3      1         TCS.NS  11874563260416   3282.000000
4      4   ICICIBANK.NS   9682074730496   1354.099976
5      6        SBIN.NS   9048774672384    980.299988
6      3        INFY.NS   6629485969408   1638.699951
7      7  BAJFINANCE.NS   6266720092160   1008.299988
8     12          LT.NS   5603428663296   4073.500000
9      5  HINDUNILVR.NS   5357174259712   2280.000000

In [19]:
portfolio_size = int(input("Enter the amount you wanna to inverst:"))
postion_size = portfolio_size/len(df.index)
print(postion_size)

10000.0

In [22]:
df['Number of shares can buy'] =  df['Latest Price'].apply(lambda price : math.floor(postion_size/price))
df

,index,Ticker,Market Cap,Latest Price,Number of shares can buy
0,0,RELIANCE.NS,21180452962304,1565.099976,6
1,2,HDFCBANK.NS,15161462095872,985.500000,10
2,8,BHARTIARTL.NS,12777257172992,2097.699951,4
3,1,TCS.NS,11874563260416,3282.000000,3
4,4,ICICIBANK.NS,9682074730496,1354.099976,7
5,6,SBIN.NS,9048774672384,980.299988,10
6,3,INFY.NS,6629485969408,1638.699951,6
7,7,BAJFINANCE.NS,6266720092160,1008.299988,9
8,12,LT.NS,5603428663296,4073.500000,2
9,5,HINDUNILVR.NS,5357174259712,2280.000000,4